<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    
  
    <img src="/static/sahutradus.jpg">
<h1>This is Home Page</h1>
<br>

<ul class="navbar">
    <img src="/static/rice.png">
    <li><h2><a href="rice/">RICE</a></h2></li>
    <br>
    <br>
    <img src="/static/dal.png">
    <li><h2><a href="pealse/">PULSE</a></h2></li>
    <br>
    <br>
    <img src="/static/achar.png">
    <li><h2><a href="pickle/">PICKLE</a></h2></li>
    <br>
    <br>
            <img src="/static/papad.png">
    <li><h2><a href="papad/">PAPAD</a></h2></li>
    <br>
    <br>
    <img src="/static/badi.png">
    <li><h2><a href="badi/">BADI</a></h2></li>
    <br>
    <br>
    <img src="/static/pasta.png">
    <li><h2><a href="pasta/">PASTA</a></h2></li>
    <br>
    <br>
    <img src="/static/sabudana.png">
    <li><h2><a href="sabudana/">SABUDANA</a></h2></li>
    <br>
    <br>
    <img src="/static/chana.png">
    <li><h2><a href="chana/">CHANA</a></h2></li>
    <br>
    <br>
    <img src="/static/oil.png">
    <li><h2><a href="oil/">OIL</a></h2></li>
    <br>
    <br>
    <img src="/static/Sugar.png">
    <li><h2><a href="sugar/">SUGAR</a></h2></li>
    <br>
    <br>
    <img src="/static/aata.png">
    <li><h2><a href="aata/">AATA</a></h2></li>
    <br>
    <br>
</ul>
<h4>THESE ARE MY TECHNICAL SKILLS</h4>
<p>Your Quality</p>
</body>
</html>